$media-queries: (
  mobile: 480px,
  tablet: 980px,
  laptop: 1280px,
  desktop: 1440px
);

@mixin breakpoint($point, $type: min) {
  @if map-has-key($media-queries, $point) {
    @media screen and (#{$type}-width: #{map-get($media-queries, $point)}) {
      @content;
    }
  } @else {
    @error 'There is not value that could be retrieved from "#{$point}". '
        + 'Please make sure that "#{$point}" is defined in $media-queries map.';
  }
}
