@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');

// Fonts
$rubik: 'Rubik', sans-serif;

// Colors
$black: #000;
$electric-violet: #7a0dff;
$shark: #191f22;
$mercury: #e5e5e5;
