@import 'breakpoints';
@import 'variables';
@import 'reset';

body {
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-shadow: rgba($black, 0.01) 0 0 1px;
  background-color: $shark;
  color: $mercury;
  font-family: $rubik;
}

h1 {
  font-size: 72px;
  margin: 1em 0;
  font-weight: 700;
  text-align: center;
  color: $electric-violet;
}

a {
  text-decoration: none;
}

.sp-image {
  width: 40vw;
  height: 40vw;
  margin: 9em auto;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: height 2s cubic-bezier(0.2, 1, 0.69, 1);
    z-index: 1;
    background-color: lighten($shark, 3%);
  }

  &.anim-block {

    &::before {
      height: 100%;
    }
  }

  img {
    height: 120%;
    object-fit: cover;
    will-change: transform;
  }
}

